html, body {
    margin:0;
    padding: 0;
    font-family: 'Roboto', serif;
    font-style: normal;
}

h1 {
    font-size: 1.5em;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0px;
    font-family: 'Heebo', serif;
    color: gray;
    font-weight: 500;
}

.sub-heading {
    margin-top: 5px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-group {
    margin: 5px 0;
}

.input-group-inline {
    display: flex;
    flex-direction: column;
}

.header {
    height: 60px;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.15);
}

.nav-list {
    padding: 0 15px;
    list-style-type: none;
}

.nav-link {
    padding: 4px 0;
    cursor: pointer;
}

.nav-link a {
    color: #000;
    text-decoration: none;
}

.nav-link a:hover {
    text-decoration: underline;
}

.nav-link .active {
    color: #FF6200;
    text-decoration: underline
}

.heading {
    color: #FF6200;
}

.card {
    padding: 12px 30px 24px;
    box-shadow: 0px 15px 33px rgba(0, 0, 0, 0.2);
}

.form {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
}

.input-label {
    color: gray;
    text-transform: uppercase;
    margin-bottom: 4px;
}

.input-group label {
    margin-right: 15px;
}

.card input[type=number] {
    height: 25px;
    padding-left: 10px;
    border: 1px solid black;

}

.card input[type=radio] {
    vertical-align: top;
    margin: 3px 4px 0 4px;
}

.card input[type=checkbox] {
    vertical-align: top;
    margin-top: 4px;
    margin-right: 7px;
}

.select img {
    width: 24px;
    margin: 0 8px 0 6px;
}

.btn {
    cursor: pointer;
    height: 45px;
    width: 100%;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    background: rgb(255,116,0);
}

.btn-clear {
    background: #fff;
    border: 1px solid rgb(255,116,0);
    color: black;
}

.btn:active {
    border: 1px solid rgb(197, 77, 7);
    background: #fff;
    color: #FF6200;
}

.btn-clear:active {
    background: black;
}
.selection {
    display: flex;
    flex-direction: column;
    margin: 10px 0 23px 0;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.18);
}

.select {
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    padding-right: 3px;
    border: none;
    border-radius: 0;
    align-items: center;
}

.select:first-child {
    border-bottom: 1px solid lightgray;
}

@media screen and (min-width: 765px) {

    h1 {
        font-size: 2em;
    }

    .btn {
        margin: 0 4px;
    }

    .content {
        flex-direction: row;
    }

    .btn-group {
        display: flex;
    }
}

@media screen and (min-width: 992px) {
    .container .card {
        
    }
    .form {
        
    }
}