html, body {
    margin:0;
    padding: 0;
    font-family: Raleway, sans-serif;
    font-style: normal;
}

.container {
    margin:0 auto;
    padding:25px;
    display: flex;
    flex-direction: column;
}

.heading {
    font-size: 22px;
    font-weight: bold;
    line-height: 56px;
    color: #FF6200;
    margin: 15px 0;
}

.sub-heading {
    font-size: 20px;
}

.card {
    padding: 50px;
    box-shadow: 0px 15px 33px rgba(0, 0, 0, 0.2);
}

.card p {
    font-size: 13px;
}

.form {
    margin-top: 25px;
    width: 100%;
    flex-direction: column;
}

label {
    font-size: 14px;
}

.input-label {
    text-transform: uppercase;

}
.input-group {
    display: flex;
    justify-items: center;
    margin: 8px 0;
}

.form-group {
    margin: 15px 0;
}

.input-group label {
    margin: 3px 0 0 3px;
}


.card input[type=number] {
    width: 100%;
    padding: 5px;
    margin: 8px 0 15px 0;
    height: 30px;
    border: 1px solid black;
    font-size: 16px;
}

.card input[type=radio], .card input[type=checkbox] {
    width: 16px;
    height: 16px;
}

.selection {
    margin-bottom: 25px;
}

.select img {
    width: 24px;
    margin-right: 8px;
}

.btn {
    cursor: pointer;
    height: 50px;
    width: 100%;
    font-size: 18px;
    margin: 6px 0;
    color: #fff;
    font-weight: bold;
    border: none;
    background: #FF6200;
}

.btn-clear {
    background: #fff;
    border: 1px solid #FF6200;
    color: black;
}

.btn:active {
    border: 1px solid rgb(197, 77, 7);
    background: #fff;
    color: #FF6200;
}

.btn-clear:active {
    background: black;
}

.select {
    cursor: pointer;
    display: flex;
    padding: 8px;
    border-top: none;
    height: 30px;
    align-items: center;
    margin: 0;
}

.select:first-child {
    border-top: 1px solid #FF6200;
}

@media screen and (min-width: 500px) {
    .heading {
        font-size: 28px;
    }
    .form-group {
        display: flex;
        flex-direction: row;
    }
    .input-group {
        margin-right: 25px;
    }

    .selection {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .select {
        border: 1px solid #FF6200;
    }

    .btn-group {
        display: flex;
        justify-content: space-between;
    }

    .btn {
        margin-right: 10px;
    }
}