html, body {
    margin:0;
    padding: 0;
    font-family: 'Roboto', serif;
    font-style: normal;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0px;
    font-family: 'Heebo', serif;
    color: gray;
    font-weight: 500;
}

.content {
    display: flex;
    flex-direction: column;
}

.header {
    height: 60px;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.15);
}

.nav-list {
    padding: 0 15px;
    list-style-type: none;
}

.nav-link {
    margin-bottom: 4px;
    cursor: pointer;
}

.nav-link a {
    color: #000;
    text-decoration: none;
}

.nav-link a:hover {
    text-decoration: underline;
}

.nav-link .active {
    color: #FF6200;
    text-decoration: underline
}

.heading {
    color: #FF6200;
}

.card {
    box-shadow: 0px 15px 33px rgba(0, 0, 0, 0.2);
}

.form {
    display: flex;
    flex-direction: column;
}

.input-label {
    text-transform: uppercase;
}

.card input[type=number] {
    height: 30px;
    border: 1px solid black;

}

.card input[type=radio] {
    vertical-align: top;
    margin: 3px -1px 0 4px;
}

.card input[type=checkbox] {
        vertical-align: top;
    margin-top: 4px;
}

.select img {
    width: 24px;
    margin-right: 4px;
}

.btn {
    cursor: pointer;
    height: 50px;
    width: 100%;
    color: #fff;
    font-weight: bold;
    border: none;
    background: #FF6200;
}

.btn-clear {
    background: #fff;
    border: 1px solid #FF6200;
    color: black;
}

.btn:active {
    border: 1px solid rgb(197, 77, 7);
    background: #fff;
    color: #FF6200;
}

.btn-clear:active {
    background: black;
}
.selection {
    display: flex;
    flex-direction: column;
}

.select {
    cursor: pointer;
    display: flex;
    border-top: none;
    height: 30px;
    align-items: center;
}

.select:first-child {
    border-top: 1px solid #FF6200;
}

@media screen and (min-width: 795px) {

    .content {
        flex-direction: row;
    }
   
    .nav-link {

    }

    .sidebar {

    }

    .container {
       
    }

    .heading {
        
    }
    .input-group {

    }

    .selection {
        
        flex-direction: row;
        justify-content: space-between;
    }

    .select {
        border: 1px solid #FF6200;
    }

    .btn-group {
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (min-width: 992px) {
    .container .card {
        width: 680px;
    }
    .form {
        width: 450px;
    }
}